@page "/"

<div class="border-bottom">
    <h3>Motiv!</h3>
</div>

<ul class="taskList">
    @foreach (var task in tasks)
    {
    <li class="taskListItem @task.Style()">
        <label class="container">
            <input type="checkbox" disabled="@task.NotCompletable" checked="@task.Completed" @onchange="async eventargs => { await CheckboxClicked(task, eventargs.Value); }">
            <span class="checkmark"></span>
            @task.TaskName (@task.Points)
        </label>
    </li>
    }
</ul>

<br />

<div class="border-bottom">
    <h6>Balance: @Balance</h6>
</div>

<br />
<br />

<input placeholder="Task name" @bind="newTaskName" />
<input placeholder="Task points" @bind="newTaskPoints" />
<button @onclick="AddTask">Add task</button>

@inject Interfaces.ITaskListController taskListController;

@code {
    private List<Core.Models.MotivTask> tasks = new();

    private string newTaskName;
    private int newTaskPoints;
    private int Balance => taskListController.Balance;

    protected override async Task OnInitializedAsync()
    {
        await taskListController.Init();
        var loadedTasks = await taskListController.Load();
        tasks = new List<Core.Models.MotivTask>(loadedTasks);
    }

    private async Task CheckboxClicked(Core.Models.MotivTask task, object eventValue)
    {
        var value = (bool)eventValue;
        task.Completed = value;

        await taskListController.CompleteTask(task, value, tasks);
    }

    private async Task AddTask()
    {
        if (!string.IsNullOrWhiteSpace(newTaskName))
        {
            tasks.Add(new Core.Models.MotivTask(newTaskName, newTaskPoints));
            await taskListController.Save(tasks);

            newTaskName = string.Empty;
            newTaskPoints = 0;
        }
    }
}
